
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pagos {
    
    
    color:orangered;
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    background-color: black;
}
.pagos h3{
    font-size: 1.1rem;
}

.hero__header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: orangered;
    text-shadow: 1px 1px 1px black;
}

.imagen_logo{
    width: 60px;
}

.logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    
}
.hero__header a{
    text-decoration: none;
}

.hero__header a:hover{
    text-decoration: underline;
}
.envios{
    padding-top: 2.5rem;
    color: white;
    font-size: 1.3rem;
    
}

i{
    padding-top: 2.5rem;
}
.menu{
    list-style-type: none;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-block: 10px;
    color: white;
    text-decoration: none;
    

}

.menu__item a{
    text-decoration: none;
    color: white;
}
.menu__item a:hover{
    text-decoration: underline;
}
 
.hero__main{
    display: flex;
    
    
}
.hero__main img{
    max-width: 650px;
}



 .hero__main > div{ 
     font-family: 'Bebas Neue', sans-serif; 
     flex: 1;
     display: flex; 
     flex-direction: row;
     
     justify-content: space-around; 
     padding-block: 1rem; 
 } 
.mercaderia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:8rem;
}
 
.articulos__item{
    list-style: none;
}


.localizacion{
    display: flex;
    margin-bottom: 10rem;
}
footer{
    background-color:orangered ; 
    padding-block: 2rem;
    padding-left: 5rem;
    

}
.lista__item{
    padding: 30px;
    margin-left: 20px;
    border:double; 
    list-style: none;
    margin-right: 8rem; 
    
}
.sucursales{
    
    padding-top: 2rem;
    padding-left: 4rem;
    display: flex;
    margin-left: 5rem;
    
}


.mediosPago{
    height: 5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

}

.piePagina{
    display: flex;
    justify-content: space-around;

    
}

.piePagina p{
    color:whitesmoke;
}

main h6{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.marcas{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}


.grid{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "item1 item2 item3";
    gap: 2.5rem;
    
        
}
.grid__item{
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
    color:white;
    text-shadow: 2px 2px 2px  red;
    
    
    
    
    
    
}
.grid__item h2{
    padding-left: 10rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
     
}


.grid__item h4{
    padding-left: 9rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
     
}
.grid__item h4 a{
    text-decoration: none;
    color: white    ;
}
.grid__item h4 a:hover{
    text-decoration: underline;
}


.grid__item1{
    grid-area: item1;
    background-image: url(../imagenes/New\ York.webp);
    
    background-repeat: no-repeat;
    
}

.grid__item2{
    grid-area: item2;
    background-image: url(../imagenes/montaña.jpg);
    background-repeat: no-repeat;
}

.grid__item3{
    grid-area: item3;
    background-image: url(../imagenes/parque.jpg);
    background-repeat: no-repeat;
}


.productos{
    padding-left:2.5rem ;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    
}

.zapatillas{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.zapatilla img{
    max-width: 200px;
}

.indumentaria{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.campera img{
    max-width: 200px;
    
    
}
.indumentaria h3{
    padding-top: 2rem;
    padding-bottom: 2rem;
} 
.camperas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accesorios{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}



.gorras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}   
    
.gorra img{
    max-width: 200px;
    
    
}



@media screen and (max-width:480px){
    .hero__header{
        flex-direction: row; 
        
    }
    .pagos h3{
        font-size: 13px;
    }
    
    .envios{
        padding-top: 1.5rem;
        font-size: 0.75rem;
    }

    .sucursales{
        padding-top: 1.5rem;
    }
    .grid__item img{
        
        padding-left: 6rem;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }

    .grid h2{
        padding-left:11rem;
    }

    .grid__item  h4{
        padding-left: 10rem;
    }

    .piePagina{
        flex-direction: column;
    }
    .localizacion{
        flex-direction: column;
    }

    iframe{
        width: 400px;
    }
    .localizacion iframe{
        margin: 3rem;
    }

    .localizacion ul{
        margin-left: 6rem;
    }
    .marcas{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
    }
    .hero__main {
        display:grid;
        
        
    } 
    .mercaderia{
        gap: 0;
    }
    .zapatillas{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .camperas{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero__main img{
        max-width: 360px ;
    }
    .campera h5{
        padding-inline: 2.5px;
    }
    .zapatilla h5{
        padding-inline: 2.5px;
    }

}

        
        
        
        
        

    

